* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.container .backgroundImg {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/education/education.png);
  background-size: cover;
  background-position: 50% 70%;
  z-index: 1;
  filter: blur(3px);
  box-shadow: 0 0 50px 50px #fff;
}

.container .backgroundImg img {
  width: 100%;
  height: 100%;
}

.container .title {
  position: absolute;
  top: 44vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 10vw;
  text-align: center;
  line-height: 250px;
  z-index: 2;
  font-weight: 800;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.waveContainer {
  position: absolute;
  top: 70vh;
  width: 100vw;
  z-index: 2;
}

.waveContainer .waves {
  width: 100%;
  height: 25vh;
  margin-bottom: -4px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.waveContainer .filling {
  position: absolute;
  top: 20vh;
  width: 100%;
  height: 12vh;
  background-color: white;
  z-index: 999;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

.articleContainer {
  width: 100vw;
  height: 800vh;
  padding: 0 5vw ;
}

.articleContainer .topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10vh 4vw 4vh;
}

.articleContainer h2 {
  text-shadow: 10px 10px 15px 0px rgba(181, 201, 198, 0.75);
  font-size: 3.4vw;
  line-height: 3.4vw;
  font-weight: bold;
  color: rgba(80, 176, 168, 1);
  font-family: "Microsoft JhengHei";
}

.articleContainer .bar {
  position: relative;
  width: 60vw;
  height: 1.85vw;
  margin: 2vw 0;
  border-radius: 12px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(112, 112, 112, 1);
}

.bar .insideBar {
  position: absolute;
  left: 0;
  top: -0.6px;
  height: 1.8vw;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(37, 157, 149, 1) 0.93%, rgba(255, 255, 255, 1) 100%);
  border: 1px solid rgba(112, 112, 112, 1);
}

.topContainer .bar .insideBar {
  width: 15%;
}

.topContainer .topBox {
  width: 70vw;
  height: fit-content;
  padding: 3vw 3.5vw;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 15px 15px 22px 0px rgba(169, 170, 170, 0.95);
  font-family: 微软雅黑;
}

.articleContainer p {
  color: black;
  font-size: 1.8vw;
  font-weight: normal;
}

.articleContainer .midContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8vh 4vw;
  flex-wrap: wrap;
}

.midContainer .bar .insideBar {
  width: 55%;
}

.midContainer .midBox {
  position: relative;
  width: 70vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding: 2.5vw 3vw;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.midBox .backgroundBlock {
  position: absolute;
  left: 0;
  top: 0;
  width: 46%;
  height: 80vw;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(222, 240, 239, 1) 0%, rgba(218, 238, 237, 1) 19.27%, rgba(150, 208, 204, 1) 100%);
  z-index: -1;
}

.midContainer .leftBox1 {
  width: 38vw;
  height: 25vw;
  /*padding: 0 4vw 0 0;*/
  margin-top: 7vw;
}

.midContainer .rightBox1 {
  width: 23vw;
  height: fit-content;
  margin-left: 3vw;
}

.midContainer .leftBox2 {
  width: 22vw;
  height: fit-content;
  margin-top: 5vw;
  margin-left: 0.5vw;
}

.leftBox2 img {
  width: 100%;
}

.midContainer .rightBox2 {
  width: 36vw;
  height: 72vw;
  margin-left: 5vw;
  margin-top: 1vw;
}

.rightBox2 img {
  width: 36vw;
  height: fit-content;
  margin-bottom: 1.5vw;
}

.midContainer .bottomBox1 {
  position: relative;
  left: -3vw;
  width: 70vw;
  height: 29vw;
  padding: 2vw 3vw;
  margin-top: 5vw;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(222, 240, 239, 1) 0%, rgba(218, 238, 237, 1) 19.27%, rgba(150, 208, 204, 1) 100%);
}

.midContainer .leftBox3 {
  /*flex: 1.5;*/
  width: 45vw;
  padding: 0 4vw 0 0;
  margin-bottom: 10vh;
}

.midContainer .leftBox3 p {
  font-size: 1.2vw;
  line-height: 2vw;
}

.midContainer .rightBox3 {
  width: 28vw;
  height: 20vw;
  margin-top: 15vh;
}

.rightBox3 img {
  width: 100%;
}

.articleContainer .bottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
}

.bottomContainer .bar .insideBar {
  width: 100%;
}

.bottomContainer .bottomBox {
  width: 63vw;
  height: fit-content;
  padding: 3vw 3.5vw;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 15px 15px 22px 0px rgba(169, 170, 170, 0.95);
  font-family: 微软雅黑;
}

.bottomContainer .box {
  margin-bottom: 10vh;
}

.bottomContainer p {
  white-space: normal;
  font-size: 1.2vw;
  line-height: 2vw;
}

.bottomContainer .box:nth-of-type(1) > p:nth-of-type(n + 2) {
  width: 50vw;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(270deg);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}
