.HomeFrame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 300px;
}
.GlassGroup {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}
