.LoadingContainer {
  /* display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center; */
  width: 100vw;
  height: 88vh;
}
.LoadingBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flower {
  width: 30vw;
  height: 30vw;
  fill-opacity: calc(0);
  margin: 0 auto;
}
.flowerHeart {
  /*填充颜色*/
  fill: #60b3b7;
  /*图形元素的外轮廓颜色*/ /*stroke: #60b3b7;
  */ /*外轮廓宽度*/
  stroke-width: 5;
  /*两端的形状*/
  stroke-linecap: round;
  animation: fade-in 0.4s linear forwards;
  -webkit-animation: fade-in 0.4s linear forwards;
}
.flower1 {
  /*填充颜色*/
  fill: #60b3b7;
  /*图形元素的外轮廓颜色*/ /*stroke: #60b3b7;
  */ /*外轮廓宽度*/
  stroke-width: 5;
  /*两端的形状*/
  stroke-linecap: round;
  animation: fade-in 0.4s linear forwards;
  -webkit-animation: fade-in 0.4s linear forwards;
  animation-delay: 1.6s;
}
.flower2 {
  /*填充颜色*/
  fill: #60b3b7;
  /*图形元素的外轮廓颜色*/ /*stroke: #60b3b7;
  */ /*外轮廓宽度*/
  stroke-width: 5;
  /*两端的形状*/
  stroke-linecap: round;
  animation: fade-in 0.4s linear forwards;
  -webkit-animation: fade-in 0.4s linear forwards;
  animation-delay: 1.2s;
}
.flower3 {
  /*填充颜色*/
  fill: #60b3b7;
  /*图形元素的外轮廓颜色*/ /*stroke: #60b3b7;
  */ /*外轮廓宽度*/
  stroke-width: 5;
  /*两端的形状*/
  stroke-linecap: round;
  animation: fade-in 0.4s linear forwards;
  -webkit-animation: fade-in 0.4s linear forwards;
  animation-delay: 0.8s;
}
.flower4 {
  /*填充颜色*/
  fill: #60b3b7;
  /*图形元素的外轮廓颜色*/ /*stroke: #60b3b7;
  */ /*外轮廓宽度*/
  stroke-width: 5;
  /*两端的形状*/
  stroke-linecap: round;
  animation: fade-in 0.4s linear forwards;
  -webkit-animation: fade-in 0.4s linear forwards;
  animation-delay: 0.4s;
}
.shrimp {
  /*填充颜色*/
  fill: #60b3b7;
  /*图形元素的外轮廓颜色*/ /*stroke: #60b3b7;
  */ /*外轮廓宽度*/
  stroke-width: 5;
  /*两端的形状*/
  stroke-linecap: round;
  animation: fade-in 0.4s linear forwards;
  -webkit-animation: fade-in 0.4s linear forwards;
  animation-delay: 2s;
}
.ulBox {
  list-style: none; /* 去除点 */
  display: flex; /* 使用flex布局 */
  justify-content: space-between; /* 每个li之间的间距均分 */
  overflow: hidden;
  padding-left: 3vw;
  transform: translateY(-3vh);
}
.liBox {
  padding: 0 10px;
  /*添加左右边距*/
  font-size: 54pt;
  color: #60b3b7;
  animation: sway 0.4s linear alternate infinite;
  -webkit-animation: sway 0.4s linear alternate infinite;
}
.dot {
  transform: translateY(10%);
  animation: jump 0.4s linear alternate infinite;
  -webkit-animation: jump 0.4s linear alternate infinite;
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
  -ms-transform: translateY(10%);
  -o-transform: translateY(10%);
}
.dot2 {
  transform: translateY(10%);
  animation: jump 0.4s linear alternate infinite;
  -webkit-animation: jump 0.4s linear alternate infinite;
  animation-delay: 0.2s;
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
  -ms-transform: translateY(10%);
  -o-transform: translateY(10%);
}
@keyframes jump {
  0% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
  100% {
    transform: rotateY(100%);
    -webkit-transform: rotateY(100%);
    -moz-transform: rotateY(100%);
    -ms-transform: rotateY(100%);
    -o-transform: rotateY(100%);
  }
}
@keyframes sway {
  0% {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
  }
}
@keyframes fade-in {
  0% {
    /* stroke-dasharray: 0, 100%; */
    fill-opacity: calc(0);
  }
  100% {
    /* stroke-dasharray: 100%, 0; */
    fill-opacity: calc(1);
  }
}
