*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}
body{
    background-color: antiquewhite;
    padding-top: 12vh;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}
#header{
    position: fixed;
    top: 0;
    width: 100vw;
    /*height: 10vw;*/
    min-height: 12vh;
    display: flex;
    justify-content: center;
    /*background-color: #ffffff;*/
}
#header .logo {
    position: absolute;
    left: 3vw;
    width: 100px;
    height: 100px;
}
#header .logo img {
    width: 100%;
    height: 100%;
}
#header nav {
    height: 12vh;
    background-color: rgba(255,255,255,0.7);
    z-index: -2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 5px;
}
#header nav .columns {
    position: relative;
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    /*background-image: -webkit-linear-gradient(0deg,rgba(107,234,228,0.5),rgba(247,202,180,0.5));*/
    background-image: -webkit-linear-gradient(0deg,rgba(29,156,149),rgba(227,174,141));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*font-family: "Berlin Sans FB Demi Bold";*/
    font-family: Calibri;
}
#header nav .columns li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 100%;
    z-index: auto;
    transition: all .3s ease-in;
    cursor: pointer;
}
#header nav ul li:hover {
    background-color: rgba(255,255,255,0);
}
#header nav ul li:hover .details {
    display: block;
}
#header nav .columns li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: fit-content;
    font-size: 1.4vw;
    line-height: 2.3vw;
    font-weight: 900;
    color: #000000;
}
#header nav .details {
    display: none;
    position: absolute;
    top: 12vh;
    width: inherit;
    height: fit-content;
    list-style: none;
    z-index: auto;
    background: rgba(255,255,255,0.6);
    -webkit-text-fill-color: rgba(29,156,149);
}
#header nav .columns li .details li{
    display: block;
    width: 100%;
    height: 5vh;
    z-index: auto;
    transition: all .3s ease-in;
    border-radius: 12px;
}
#header nav .columns li .details li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: fit-content;
    padding: 1vw;
    font-size: 1.2vw;
    line-height: 1.2vw;
    font-weight: 700;
}
#header nav .columns li:nth-child(2) .details li:hover{
    background: linear-gradient(90deg,rgba(127,229,221,0.5),rgba(147,224,215,0.5));
}
#header nav .columns li:nth-child(3) .details li:hover{
    background: linear-gradient(90deg,rgba(147,224,215,0.5),rgba(167,220,208,0.5));
}
#header nav .columns li:nth-child(4) .details li:hover{
    background: linear-gradient(90deg,rgba(167,220,208,0.5),rgba(182,217,204,0.5));
}
#header nav .columns li:nth-child(5) .details li:hover{
    background: linear-gradient(90deg,rgba(182,217,204,0.5),rgba(217,209,190,0.5));
}
#header nav .columns li:nth-child(6) .details li:hover{
    background: linear-gradient(90deg,rgba(217,209,190,0.5),rgba(230,206,186,0.5));
}
#header nav .columns li:nth-child(7) .details li:hover{
    background: linear-gradient(90deg,rgba(230,206,186,0.5),rgba(247,202,180,0.5));
}

#header nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: -999;
    transition: all .5s ease-out;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(2px);
    border-radius: 12px;
    width: 10vw;
}
#header nav .columns li:nth-child(1):hover~.animation{
    left: 0;
    background: linear-gradient(90deg,rgba(107,234,228,0.5),rgba(127,229,221,0.5));
}
#header nav .columns li:nth-child(2):hover~.animation{
    left: 10vw;
    background: linear-gradient(90deg,rgba(127,229,221,0.5),rgba(147,224,215,0.5));
}
#header nav .columns li:nth-child(3):hover~.animation{
    left: 20vw;
    background: linear-gradient(90deg,rgba(147,224,215,0.5),rgba(167,220,208,0.5));
}
#header nav .columns li:nth-child(4):hover~.animation{
    left: 30vw;
    background: linear-gradient(90deg,rgba(167,220,208,0.5),rgba(182,217,204,0.5));
}
#header nav .columns li:nth-child(5):hover~.animation{
    left: 40vw;
    background: linear-gradient(90deg,rgba(182,217,204,0.5),rgba(217,209,190,0.5));
}
#header nav .columns li:nth-child(6):hover~.animation{
    left: 50vw;
    background: linear-gradient(90deg,rgba(217,209,190,0.5),rgba(230,206,186,0.5));
}
#header nav .columns li:nth-child(7):hover~.animation{
    left: 60vw;
    background: linear-gradient(90deg,rgba(230,206,186,0.5),rgba(247,202,180,0.5));
}