/* :root {
  --Lfrom-deg: 180deg;
  --Rfrom-deg: -180deg;
  --Rto-deg: 0deg;
  --Lto-deg: 360deg;
} */
.circle {
  --Lfrom-deg: 180deg;
  --Rfrom-deg: -180deg;
  --Rto-deg: 0deg;
  --Lto-deg: 360deg;
  /*position: fixed;
  top: 15%;
  left: 4%;
  */
  width: 40px;
  height: 40px;
  background: #eee;
  /*margin: 100px auto;
  */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
  position: relative;
}
.left,
.right {
  width: 20px;
  height: 40px;
  position: absolute;

  opacity: 0.5;
  overflow: hidden;
}
.right {
  left: 20px;
}
.left .left_circle,
.right .right_circle {
  width: 20px;
  height: 40px;
  background: rgba(80, 176, 168, 1);
  /* transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s; */
}
.left .left_circle {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  transform-origin: right center;
  transform: rotate(var(--Lfrom-deg));
  -webkit-transform: rotate(var(--Lfrom-deg));
  -moz-transform: rotate(var(--Lfrom-deg));
  -ms-transform: rotate(var(--Lfrom-deg));
  -o-transform: rotate(var(--Lfrom-deg));
}
.left .left_circle .animate {
  animation: progress1 2s linear forwards;
  animation-delay: 2s;
  -webkit-animation: progress1 2s linear forwards;
}
@keyframes progress1 {
  to {
    transform: rotate(var(--Lto-deg));
    -webkit-transform: rotate(var(--Lto-deg));
    -moz-transform: rotate(var(--Lto-deg));
    -ms-transform: rotate(var(--Lto-deg));
    -o-transform: rotate(var(--Lto-deg));
  }
}
.right .right_circle {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background: rgba(80, 176, 168, 1);
  transform-origin: left center;
  transform: rotate(var(--Rfrom-deg));
  -webkit-transform: rotate(var(--Rfrom-deg));
  -moz-transform: rotate(var(--Rfrom-deg));
  -ms-transform: rotate(var(--Rfrom-deg));
  -o-transform: rotate(var(--Rfrom-deg));
}
.right .right_circle .animate {
  animation: progress2 2s linear forwards;
  -webkit-animation: progress2 2s linear forwards;
}
@keyframes progress2 {
  to {
    transform: rotate(var(--Rto-deg));
    -webkit-transform: rotate(var(--Rto-deg));
    -moz-transform: rotate(var(--Rto-deg));
    -ms-transform: rotate(var(--Rto-deg));
    -o-transform: rotate(var(--Rto-deg));
  }
}
.inner {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  line-height: 20px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #999;
  background: rgba(97, 184, 176, 0.22);
}
