.SideNav {
  position: fixed;
  top: 15%;
  width: 20%;
}
.button {
  margin-top: 10px;
  cursor: pointer;
}
.button:not(.active):hover {
  background-color: aqua;
}
.button.active {
  background-color: #f1a8a8;
}
