:root {
  --Lfrom-deg: 180deg;
  --Rfrom-deg: -180deg;
  --Rto-deg: 0deg;
  --Lto-deg: 360deg;
}
.SideNav {
  position: fixed;
  top: 15%;
  left: 4%;
  width: 100px;
  height: 100px;
  margin: 100px auto;
}
.sideNavContainer {
  position: fixed;
  top: 15%;
  left: 0px;

  display: flex;
  flex-direction: column;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  backdrop-filter: blur(4px);
  overflow: hidden;
  background: rgba(97, 184, 176, 0.22);
}
.sideNavContainer > div {
  display: flex;
  align-items: center;
}
.sideNavContainer > .active {
  background: rgba(97, 184, 176, 0.11) !important;
}
.sideNavContainer > :hover {
  background: rgba(97, 184, 176, 0.33) !important;
  cursor: pointer;
}
.button {
  cursor: pointer;
  max-width: 200px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  gap: 5px;
  display: inline-block;
  /**文本1*/
  font-size: 24px;
  font-weight: 400;
  color: rgba(85, 178, 170, 1);
  margin: 20px;
  text-align: center;
}
/* .button {
margin-top: 10px;
cursor: pointer;
} */
/* .button:not(.active):hover {
background-color: aqua;
}
.button.active {
background-color: #f1a8a8;
} */

.circle {
  position: fixed;
  height: 100px;
  background: red;
  opacity: 0.5;
}
.left .left_circle {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  transform-origin: right center;
  transform: rotate(var(--Lfrom-deg));
  -webkit-transform: rotate(var(--Lfrom-deg));
  -moz-transform: rotate(var(--Lfrom-deg));
  -ms-transform: rotate(var(--Lfrom-deg));
  -o-transform: rotate(var(--Lfrom-deg));
}
.left .left_circle .animate {
  animation: progress1 2s linear forwards;
  animation-delay: 2s;
  -webkit-animation: progress1 2s linear forwards;
}
@keyframes progress1 {
  to {
    transform: rotate(var(--Lto-deg));
    -webkit-transform: rotate(var(--Lto-deg));
    -moz-transform: rotate(var(--Lto-deg));
    -ms-transform: rotate(var(--Lto-deg));
    -o-transform: rotate(var(--Lto-deg));
  }
}
.right .right_circle {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background: red;
  transform-origin: left center;
  transform: rotate(var(--Rfrom-deg));
  -webkit-transform: rotate(var(--Rfrom-deg));
  -moz-transform: rotate(var(--Rfrom-deg));
  -ms-transform: rotate(var(--Rfrom-deg));
  -o-transform: rotate(var(--Rfrom-deg));
}
.right .right_circle .animate {
  animation: progress2 2s linear forwards;
  -webkit-animation: progress2 2s linear forwards;
}
@keyframes progress2 {
  to {
    transform: rotate(var(--Rto-deg));
    -webkit-transform: rotate(var(--Rto-deg));
    -moz-transform: rotate(var(--Rto-deg));
    -ms-transform: rotate(var(--Rto-deg));
    -o-transform: rotate(var(--Rto-deg));
  }
}
/* .left:hover .left_circle {
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
}
.right:hover .right_circle {
transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
} */
.inner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  line-height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #999;
  background: #fff;
}
