.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -4px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}
.footPage {
  width: 100%;
  background-color: rgb(156, 213, 214);
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to right, #25beb4, #ffe2d1); */
  padding: 50px;
}

.title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 5em;
  text-align: center;
  color: white;
  /* text-shadow: 1px 1px 2px black; */
  /* background: linear-gradient(to right, #25beb4, #ffe2d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.subtitle {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1em;
  text-align: center;
  /* background: linear-gradient(to right, #25beb4, #ffe2d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: white;
  /* text-shadow: 1px 1px 2px black; */
}

.imageRow {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.line {
  width: 55%;
  border: none;
  border-radius: 999px;
  height: 12px;
  margin-bottom: 50px;
  background: linear-gradient(to right, #25beb4, #ffe2d1);
}

.backToTop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  cursor: pointer;
}

.arrow {
  width: 50px;
  height: 50px;
  fill: none;
  stroke: white;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: updown 1s infinite;
  background: linear-gradient(to right, #25beb4, #ffe2d1);
}
.text {
  margin-left: 10px;
  font-size: 1.2em;
  /* background: linear-gradient(to right, #25beb4, #ffe2d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: white;
  /* text-shadow: 1px 1px 2px black; */
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
